@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

nav {
  height: 5rem;
  background-color: rgba(45, 45, 45, 0.612);

  transition: 0.5s ease;
  overflow-y: hidden;
}
nav a {
  text-decoration: none;
  transition: 0.5s ease;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transform: background-size 0.3s ease;
}

nav a:hover {
  background-size: 100% 2px;
}

.active {
  background-size: 100% 2px;
}

.navTog {
  height: 4rem;
  width: 4rem;
}

.p6rem {
  padding-top: 6rem;
}

.h15rem {
  height: 16rem;
}

.homeBackImg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://placecats.com/2000/1000");
  height: 40rem;
  background-repeat: unset;
  background-size: cover;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
